/*
 Description:  MIC Earn Business Home Page
 Author:       Hassan A. Adeola
 Author URI:   https://www.hassanadeola.com
 Author URI:   https://www.github.com/molary23
 Template:     ReactApp
 Version:      1.0.0
*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  2. Remove default margin and set font
*/
* {
  margin: 0;
  font-family: "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* 
10. Use Smooth Scrolling
*/
html {
  scroll-behavior: smooth;
}

section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.btn {
  border-radius: 0px !important;
  height: 40px;
}

a {
  text-decoration: none;
}

textarea#contact-form-message {
  height: 120px;
}

.section-heading {
  margin-bottom: 50px;
  text-align: center;
}

.section-heading h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.section-heading h2 {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500;
}

.my-card {
  -webkit-box-shadow: 0px 7px 15px 0px rgba(38, 59, 94, 0.2);
          box-shadow: 0px 7px 15px 0px rgba(38, 59, 94, 0.2);
  border-radius: 5px;
  margin: 20px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.my-card:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

.loader {
  text-align: center;
  margin-top: 300px;
}

.regular-btn {
  border: 1px solid #5ea1ed;
  color: #5ea1ed;
}

.regular-btn:hover {
  background: #5ea1ed;
  color: #fff;
  font-weight: 500;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.outline-btn {
  border: 1px solid #5ea1ed;
  background: #5ea1ed;
  color: #fff;
}

.outline-btn:hover {
  border: 1px solid #5ea1ed;
  background: #fff;
  color: #5ea1ed;
  font-weight: 500;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.top-nav {
  background: yellow;
}

.top-nav:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  background: rgba(0, 0, 0, 0.8);
}

.top-nav .nav-link:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  -webkit-transition: width 500ms ease, background-color 500ms ease;
  transition: width 500ms ease, background-color 500ms ease;
}

.top-nav .nav-link:hover:after {
  width: 100%;
  background: blue;
}

.home-page {
  background: rgba(151, 198, 252, 0.2);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 400px;
  padding: 50px 0px 0px;
}

.home-page .intro-details {
  margin-top: 200px;
  text-transform: capitalize;
  /* Animation */
  /* The typing effect */
  /* The typewriter cursor effect */
}

.home-page .intro-details .intro-name {
  font-size: 4rem;
  letter-spacing: -3.5px;
  font-weight: 600;
}

.home-page .intro-details .info-role {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  margin-bottom: 20px;
}

.home-page .intro-details .info-job-role {
  color: #5ea1ed;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.08em solid #0af2cb;
  white-space: nowrap;
  margin: 10px auto;
  letter-spacing: 0.15em;
  -webkit-animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
          animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  font-size: 1.35rem;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #0af2cb;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #0af2cb;
  }
}

.home-page .intro-buttons button {
  width: 30%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.home-page .intro-buttons button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .intro-image {
  margin-top: 50px;
}

.home-page .intro-image img {
  width: 70%;
  margin: 0px auto;
  -webkit-filter: drop-shadow(1px 1px 3px #252525);
          filter: drop-shadow(1px 1px 3px #252525);
}

/* About Me */
.about {
  min-height: 400px;
  background: #fff;
  padding: 80px 0px;
}

.about .about-me {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

/* Skills */
.skills {
  min-height: 400px;
  background: red;
  padding: 80px 0px;
}

.skills .my-skills {
  text-align: center;
}

.skills .skill-card {
  border: 0.5px solid #fff;
  height: 200px;
  width: 200px;
  color: yellow;
  padding: 10px;
}

.skills .skill-card .skill-image {
  height: 50%;
}

.skills .skill-card .skill-image img {
  width: 40%;
  height: auto;
  margin: 0px auto;
}

.skills .skill-card .skill-name {
  margin-top: 20px;
}

.skills .skill-card:hover {
  background: #fff;
  color: red;
}

/* Contact */
.contact {
  min-height: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 0px;
  background: blue;
}

.contact .contact-connect-info {
  margin-top: 50px;
}

.contact .contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-bottom: 10px;
}

.contact .contact-details .contact-icon {
  border-radius: 40px;
  padding: 10px;
  background: yellow;
  width: 40px;
  height: 40px;
  text-align: center;
}

.contact .contact-details .contact-icon i {
  font-size: 20px;
}

.contact .contact-details .contact-info {
  margin-left: 20px;
}

.contact .contact-details .contact-info a:hover {
  text-decoration: underline;
}

.contact .contact-details .contact-location {
  text-transform: uppercase;
}

.contact .connect-info-card {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact .connect-info-card i {
  margin-right: 15px;
  color: red;
}

.contact .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .btn i {
  margin-left: 5px;
}

/* Service */
.services {
  min-height: 800px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 0px;
  background: green;
}

.services .service-card {
  min-height: 400px;
  width: 100%;
  padding: 50px 20px;
  background: #fff;
}

.services .service-image,
.services .service-name {
  text-align: center;
}

.services .service-name {
  margin: 20px 0px;
}

.services .service-name h3 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.25rem;
}

.services .service-content {
  text-align: justify;
  text-justify: inter-word;
}

.services .service-image i {
  border-radius: 40px;
  padding: 20px 0px;
  background: rgba(125, 186, 240, 0.3);
  width: 80px;
  height: 80px;
  font-size: 40px;
  color: #7dbaf0;
}

/* Project */
.projects {
  min-height: 800px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 0px;
  background: yellow;
}

.projects .project-card {
  min-height: 400px;
  width: 100%;
  padding: 20px;
  background: #fff;
}

.projects .project-card .project-name {
  margin: 20px 0px;
  text-align: center;
}

.projects .project-card .project-name h3 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.25rem;
}

.projects .project-card .project-type h5 {
  text-transform: capitalize;
  font-size: 1rem;
}

.projects .project-card .project-image {
  margin-top: 20px;
}

.projects .project-card .project-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
}

.projects .project-card .project-details .project-stack {
  margin-left: 10px;
}

.projects .project-card .project-details .project-title label {
  font-weight: 600;
}

.projects .project-card .project-details .project-category {
  margin-left: 10px;
}

.projects .project-card .project-details .project-category p {
  font-weight: 600;
  text-transform: capitalize;
}

.projects .view-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.projects .view-more .btn {
  width: 20%;
}

/* Footer */
.footer-title {
  text-transform: capitalize;
}

.footer-title span {
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */