@import "default.scss";

.top-nav {
  background: yellow;

  .nav-link {
    border: 2px solid red;
  }
}

.home-page {
  background: rgba(nth($color, 2), 0.2);

  height: fit-content;
  min-height: nth($box, 3);
  padding: nth($spacing, 4) nth($spacing, 1);

  .intro-details {
    margin-top: nth($spacing, 4) * 2;
    text-transform: capitalize;

    .intro-name {
      font-size: 4rem;
      letter-spacing: -3.5px;
      font-weight: 600;
    }

    .info-role {
      width: fit-content;

      margin-bottom: nth($spacing, 3);
    }

    /* Animation */
    .info-job-role {
      color: #5ea1ed;
      font-family: monospace;
      overflow: hidden;
      border-right: 0.08em solid rgb(10, 242, 203);
      white-space: nowrap;
      margin: nth($spacing, 2) auto;
      letter-spacing: 0.15em;
      animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
      font-size: 1.35rem;
    }

    /* The typing effect */
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from,
      to {
        border-color: transparent;
      }
      50% {
        border-color: rgb(10, 242, 203);
      }
    }
  }

  .intro-buttons button {
    width: 30%;
    margin-right: nth($spacing, 2);
    span {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

/* About Me */
.about {
  min-height: nth($box, 2);
  background: #fff;
  padding: nth($spacing, 5) 0px;

  .about-me {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
}

/* Skills */
.skills {
  min-height: nth($box, 2);
  background: red;
  padding: nth($spacing, 5) 0px;

  .my-skills {
    text-align: center;
  }

  .skill-card {
    border: 0.5px solid #fff;
    border-radius: nth($spacing, 2);
    height: nth($box, 1);
    width: nth($box, 1);
    color: yellow;
    padding: nth($spacing, 2);
    margin: nth($spacing, 2);

    .skill-image {
      height: 50%;

      img {
        width: 40%;
        height: auto;
        margin: 0px auto;
      }
    }
    .skill-name {
      margin-top: nth($spacing, 3);
    }

    &:hover {
      background: #fff;
      color: red;
    }
  }
}

/*Sub Footer*/
.sub-footer {
  min-height: nth($box, 1);
  height: fit-content;
  padding: nth($spacing, 4) 0px;
  background: rgba(nth($color, 2), 0.2);

  .footer-heading {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .footer-intro h2 {
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 600;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
/* Footer */

.footer-title {
  text-transform: capitalize;
  span {
    font-weight: 500;
  }
}

@import "responsive.scss";
