@import "default.scss";

.top-nav {
  background: yellow;
  .nav-link {
    &:after {
      content: "";
      display: block;
      margin: auto;
      height: 3px;
      width: 0px;
      background: transparent;
      transition: width 500ms ease, background-color 500ms ease;
    }
    &:hover:after {
      width: 100%;
      background: blue;
    }
  }
}

.home-page {
  background: rgba(nth($color, 2), 0.2);

  height: fit-content;
  min-height: nth($box, 2);
  padding: nth($spacing, 4) nth($spacing, 1) 0px;

  .intro-details {
    margin-top: nth($spacing, 4) * 4;
    text-transform: capitalize;

    .intro-name {
      font-size: 4rem;
      letter-spacing: -3.5px;
      font-weight: 600;
    }

    .info-role {
      width: fit-content;
      height: 30px;
      margin-bottom: nth($spacing, 3);
    }

    /* Animation */
    .info-job-role {
      color: #5ea1ed;
      font-family: monospace;
      overflow: hidden;
      border-right: 0.08em solid rgb(10, 242, 203);
      white-space: nowrap;
      margin: nth($spacing, 2) auto;
      letter-spacing: 0.15em;
      animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
      font-size: 1.35rem;
    }

    /* The typing effect */
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from,
      to {
        border-color: transparent;
      }
      50% {
        border-color: rgb(10, 242, 203);
      }
    }
  }

  .intro-buttons button {
    width: 30%;
    margin-right: nth($spacing, 2);
    span {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  .intro-image {
    margin-top: nth($spacing, 4);

    img {
      width: 70%;
      margin: 0px auto;
      filter: drop-shadow(1px 1px 3px rgb(37, 37, 37));
    }
  }
}

/* About Me */
.about {
  min-height: nth($box, 2);
  background: #fff;
  padding: nth($spacing, 5) 0px;

  .about-me {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
}

/* Skills */
.skills {
  min-height: nth($box, 2);
  background: red;
  padding: nth($spacing, 5) 0px;

  .my-skills {
    text-align: center;
  }

  .skill-card {
    border: 0.5px solid #fff;
    height: nth($box, 1);
    width: nth($box, 1);
    color: yellow;
    padding: nth($spacing, 2);

    .skill-image {
      height: 50%;

      img {
        width: 40%;
        height: auto;
        margin: 0px auto;
      }
    }
    .skill-name {
      margin-top: nth($spacing, 3);
    }

    &:hover {
      background: #fff;
      color: red;
    }
  }
}

/* Contact */
.contact {
  min-height: nth($box, 2);
  height: fit-content;
  padding: nth($spacing, 4) 0px;
  background: blue;
}

.contact-connect-info {
  margin-top: nth($spacing, 4);
}

.contact-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin-bottom: nth($spacing, 2);
  .contact-icon {
    border-radius: 40px;
    padding: nth($spacing, 2);
    background: yellow;
    width: 40px;
    height: 40px;
    text-align: center;
    i {
      font-size: 20px;
    }
  }
  .contact-info {
    margin-left: nth($spacing, 3);

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .contact-location {
    text-transform: uppercase;
  }
}

.connect-info-card {
  margin-top: nth($spacing, 4);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  i {
    margin-right: 15px;
    color: red;
  }
}

.submit-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    margin-left: nth($spacing, 2) / 2;
  }
}

/* Service */
.services {
  min-height: nth($box, 4);
  height: fit-content;
  padding: nth($spacing, 4) 0px;
  background: green;

  .service-card {
    min-height: nth($box, 2);
    width: 100%;
    padding: nth($spacing, 4) nth($spacing, 3);
    background: #fff;
  }

  .service-image,
  .service-name {
    text-align: center;
  }

  .service-name {
    margin: nth($spacing, 3) 0px;
    h3 {
      font-weight: 600;
      text-transform: capitalize;
      font-size: 1.25rem;
    }
  }
  .service-content {
    text-align: justify;
    text-justify: inter-word;
  }

  .service-image {
    i {
      border-radius: 40px;
      padding: nth($spacing, 3) 0px;
      background: rgba(rgb(125, 186, 240), 0.3);
      width: 80px;
      height: 80px;
      font-size: 40px;
      color: rgba(rgb(125, 186, 240), 1);
    }
  }
}

/* Project */
.projects {
  min-height: nth($box, 4);
  height: fit-content;
  padding: nth($spacing, 4) 0px;
  background: yellow;

  .project-card {
    min-height: nth($box, 2);
    width: 100%;
    padding: nth($spacing, 3);
    background: #fff;

    .project-name {
      margin: nth($spacing, 3) 0px;
      text-align: center;
      h3 {
        font-weight: 600;
        text-transform: capitalize;
        font-size: 1.25rem;
      }
    }
    .project-type h5 {
      text-transform: capitalize;
      font-size: 1rem;
    }
    .project-image {
      margin-top: nth($spacing, 3);
    }
    .project-details {
      display: flex;
      height: 60px;
      .project-stack {
        margin-left: 10px;
      }
      .project-title label {
        font-weight: 600;
      }
    }
  }
}

/* Footer */

.footer-title {
  text-transform: capitalize;
  span {
    font-weight: 500;
  }
}

@import "responsive.scss";
